<%- include("includes/header.ejs"); %>
<body>
      <h2>This Page Belongs To : @<%= data.name %></h2>
      <button >Follow</button>
      <button>Message</button>

      <h3>Followers : <%= data.followers %></h3>
      <h3>Follwing : <%= data.following %></h3>
      <hr>
      <% for(let post  of data.posts) {%>
        <img  src="<%= post.image %>" alt="">
        <p>Likes  : <%= post.likes  %> &nbsp;&nbsp;&nbsp; Comments : <%= post.comments %></p>

     <% } %> 

</body>
</html>